<a href="https://colab.research.google.com/github/AlessandroRossiUFF/Programa-oOrientadaAObjetosEmPython/blob/main/ProgramacaoOrientadaAObjetosEmPython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###Você precisa calcular o CR de alunos de uma universidade. Para isto será preciso ler de um arquivo csv a lista de notas dos alunos e, de acordo com as notas e os critérios da universidade, calcular o CR de todos os alunos. Ao final do processo, será preciso mostrar na tela o CR de todos os alunos e qual a média de CR dos cursos.

Regras
A nota do aluno vai de zero até 100;
Uma nota é associada a uma disciplina e a um código de curso;
O CR é a média ponderada da nota do aluno naquela turma com a carga horária daquela turma. O cálculo é:
CR = Nota(i)*CargaHoraria(i)/TotalCargaHoraria

i é a i-ésima turma de um aluno
Utilizar Orientação a Objetos para resolver o problema
Escolha a linguagem que achar adequada

#A partir daqui começa a resolução.

###Vamos começar importando nosso DataFrame com o pandas,criando uma classe chamada DataBase que vai ser onde iremos trabalhar todas informações necessárias e colocando um módulo chamado CalculaCR dentro da nossa classe para operar as informações.

In [13]:
import pandas as pd

class DataBaseCursoAluno:

  dados = pd.read_csv("/content/drive/MyDrive/notas.csv", usecols=[0, 1, 2, 3, 4])
  df_aluno = pd.DataFrame({'Matricula':[],'CR':[]
                         })
  df_turma = pd.DataFrame({'CODIGO_DE_TURMA':[],'CR':[]
                         })
  df_aluno['Matricula'] = dados['MATRICULA'].unique()
  df_turma['CODIGO_DE_TURMA'] = dados['COD_CURSO'].unique()

  lista = dados
  turmaT = dados['COD_CURSO']                  #Todas as linhas na coluna das turmas.
  turmaU = dados['COD_CURSO'].unique()         #Turmas sem repetição.
  matriculaT = dados['MATRICULA']              #Todas as linhas na coluna das matriculas.
  matriculaU = dados['MATRICULA'].unique()     #Matriculas sem repetição.
  horas = dados['CARGA_HORARIA']               #Referente a coluna da carga horária.
  notas = dados['NOTA']                        #Coluna das notas.
  horasI = []
  horasT = []

  def CalculaCR(self, registroUnicos, registrosTotais, valorColuna, valorNotas, horas):
    df_Registros = pd.DataFrame({'IDENTIFICAÇÃO':[], 'CR':[]})

    vT = []  #Vetor auxiliar.
    cr = []   #Vetor auxiliar.
    for i in range(len(registroUnicos)):
     for i in range(len(registroUnicos)):
      for j in range(len(registrosTotais)):
        if registroUnicos[i] == registrosTotais[j]:
          cr.append(registro.dados.loc[j,'CARGA_HORARIA'])
          registro.dados.loc[j,'indice'] = registroUnicos[i]    #Nessa parte do método calculamos as horas totais
      for j in range(len(registrosTotais)):            #referentes a cada parâmetro "registro",que nesse caso
        if registroUnicos[i] == registrosTotais[j]:    #vai representar os códigos de turma ou os numeros de matricula.
          registro.dados.loc[j,'indice'] = sum(cr)
          s = 0
          while s < len(cr):
            cr[s] = 0
            s += 1
    valorColuna = registro.dados['indice'].tolist()        
    for i in range(len(valorColuna)):
      if valorColuna[i] != 0:
        vT.append(valorColuna[i])
    valorColuna = vT

    cr = []
    for i in range(len(registroUnicos)):                   #Nessa parte do método usamos as horas totais obtidas
      vaCount = 0                                               #para calcular o CR relativo a cada turma ou matricula.
      for j in range(len(registrosTotais)):
        if registroUnicos[i] == registrosTotais[j]:
          vaCount += (horas[j] * valorNotas[j]) / valorColuna[i]
      cr.append(vaCount)

    ordenadoRegistros = sorted(registroUnicos)     #Nessa parte do método colocamos IDs de registroUnicos
    ordenadoCR = []                                #em ordem alfanumérica e colocamos os CRs em suas posições
    for i in range(len(cr)):                       #relativas a cada id
      ordenadoCR.append(0)
      cr[i] = int(cr[i])
    for i in range(len(cr)):
      for j in range(len(cr)):
        if ordenadoRegistros[i] == registroUnicos[j]:
           ordenadoCR[i] += cr[j]

    df_Registros['IDENTIFICAÇÃO'] = ordenadoRegistros
    df_Registros['CR'] = ordenadoCR

    return df_Registros

registro = DataBaseCursoAluno()

Para obter o CR referente a cada aluno.

In [14]:
registro.CalculaCR(registro.matriculaU, registro.matriculaT, registro.horasT, registro.notas, registro.horas)

    IDENTIFICAÇÃO  CR
0             100  63
1             101  82
2             102  56
3             103  57
4             104  64
5             105  47
6             106  64
7             107  51
8             108  65
9             109  79
10            110  72
11            111  78
12            112  67
13            113  58
14            114  61
15            115  57
16            116  59

Para obter o CR referente a cada turma.

In [15]:
registro.CalculaCR(registro.turmaU, registro.turmaT, registro.horasT, registro.notas, registro.horas)

   IDENTIFICAÇÃO  CR
0              4  49
1             21  74
2             31  55
3             56  67
4            103  84

#Até a próxima <3 S2 :)